<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change password page</title>
</head>
<body>

<h2>Please give your new password <span th:text="${attrib1.firstName}"></span></h2> 


<form action="#" th:action="@{/changepassword}" th:object="${attrib1}" method="post">
  
  <div class="container">
    
    <label for="psw"><b>New Password</b></label>
    <input type="password" placeholder="Enter new Password" th:field="*{password}" required>

    <input type="submit" value="Change password" />
    
  </div>

  
</form>



</body>
</html>