<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Person administration</title>
</head>
<body>
Person administration

<div>
<ul>
<li><a href="http://localhost:8080/exercise/changepassword">Change password</a></li>
<li><a href="http://localhost:8080/exercise/searchforperson">Search for persons</a></li>
<li><a href="http://localhost:8080/exercise/addperson">Add a person</a></li>
<li><a href="http://localhost:8080/exercise/removeperson">Remove a person</a></li>
</ul>
</div>

<form action="#" th:action="@{/back}" method="get">
<input type="submit" value="Back" />

</body>
</html>